.cardHeader{
    background-color: #B799FF;
    display: flex;
    justify-content: center;
}
.textTask{
    font-size: auto;
    text-align: center;
}
.editBtn{
    justify-self: auto;
}
.doneBtn{
    justify-self: auto;
    height: 6px;
}
.cardLayout{
    height: auto;
    width: 170px;
    padding: 7px;
    box-shadow: none;
    border: solid;
    border-width: 1px;
    border-color: silver;
    margin: 15px;
    background-color: none;
}